body
	{background-color: #181818;}
#menu 
	{background-color: #000000;
	 height: 400px;
	 width: 400px;	
	 padding: 20px;
	 position: fixed;
	 top: 100px;
	 left: 300px;
	}
h1
	{color: yellow; font-family: Times;}
h3
	{color: yellow; font-family: Times;}
ol 
	{color: white; font-size: 20px;}
		